<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gorillamo.relationship.catalog">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_ui_catalog">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application>

        <activity
            android:name="com.gorillamo.relationship.catalog.ItemListActivity"
            android:label="@string/title_relationship_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.gorillamo.relationship.catalog.RelationshipDetailActivity"
            android:label="@string/title_relationship_detail"
            android:parentActivityName="com.gorillamo.relationship.catalog.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gorillamo.relationship.catalog.ItemListActivity" />
        </activity>

    </application>

</manifest>

